html {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.text-white {
  color: white;
  margin: 0;
}

.text-grey {
  color: #606060;
  margin: 0;
}

.mycontainer {
  display: flex;
}

/* Aside section */

.mycontainer-aside {
  max-width: 200px;
  height: calc(100vh - 70px);
  background-color: black;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

@media all and (max-width: 480px) {
  .mycontainer-aside {
    max-width: 50px;
    overflow: hidden;
  }
}

aside div ul li a,
aside div a {
  color: #606060;
}

aside div ul li a:hover,
aside div a:hover {
  color: white;
  text-decoration: none;
}

aside div ul {
  list-style: none;
}

/* Logo section */

.logo img:first-child {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
}

.logo img:last-child {
  width: 25px;
  display: none;
}

@media all and (max-width: 480px) {
  .logo img:first-child {
    display: none;
  }

  .logo img:last-child {
    display: block;
    margin: 5px 12.5px;
  }
}
/* Home, Cerca, Libreria section */

.home img {
  width: 10%;
  vertical-align: middle;
}

.home ul {
  padding: 0;
}

.home ul > li:last-child {
  padding-bottom: 10px;
}

.home ul > li:first-child {
  border-left: 2px solid #aeff2e;
}

.home ul > li:first-child > a {
  color: white;
}

.home ul > li:nth-child(2),
.home ul > li:nth-child(3) {
  padding-left: 12px;
}

.home ul > li {
  padding-left: 10px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}

.home ul > li > a {
  vertical-align: middle;
}

@media all and (max-width: 480px) {
  .home ul > li:first-child {
    border-left: none;
  }

  .home ul > li > a {
    display: none;
  }

  .home img {
    width: 20px;
  }

  .home ul > li {
    padding: 5px 15px;
  }

  .home ul > li > img {
    color: #9d9d9d;
  }

  .home ul > li:nth-child(2),
  .home ul > li:nth-child(3) {
    padding-left: 15px;
  }
}

/* Playlist section */

.playlist {
  padding-left: 12px;
}

.playlist h4 {
  font-size: 12px;
  color: white;
  text-transform: uppercase;
}

.playlist div a i {
  height: 30px;
  width: 30px;
  background-color: grey;
  color: black;
  text-align: center;
  line-height: 30px;
  display: inline-block;
}

.playlist div:hover a i {
  background-color: white;
}

.playlist div:hover a {
  color: white;
}

@media all and (max-width: 480px) {
  .playlist {
    visibility: hidden;
  }
}

/* Playlist list section */

.playlist-list {
  flex-grow: 1;
  overflow: auto;
}

.playlist-list ul {
  padding-left: 12px;
}

.playlist-list ul > li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.playlist-list ul > li:first-child {
  padding-top: 15px;
}

@media all and (max-width: 480px) {
  .playlist-list {
    visibility: hidden;
  }
}

/* Account section */

.account {
  padding-left: 12px;
  color: white;
}

.hr {
  margin: 5px 0;
  border: 1px solid #606060;
  width: 80%;
}

.account a {
  font-size: 12px;
}

.account p {
  display: inline-block;
  padding-left: 5px;
}

.myarrowdown {
  display: none;
  font-size: 15px;
}

@media all and (max-width: 480px) {
  .hr,
  .account a,
  .account p {
    display: none;
  }

  .myarrowdown {
    display: block;
    font-size: 15px;
    color: #9d9d9d;
    margin: 5px 18px;
  }

  .myarrowdown:hover {
    color: white;
  }

  .account {
    padding: 0;
  }

  .account i:last-of-type {
    font-size: 20px;
    padding: 5px 15px;
  }
}

/* Tool-bar section */

.tool-bar {
  height: 70px;
  background-color: #282828;
  color: #606060;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tool-bar a {
  color: #606060;
}

.tool-bar a:hover {
  color: white;
}

/* Sinister section */

.sinister {
  color: white;
  flex-basis: 200px;
  display: flex;
  align-items: center;
}

.sinister img {
  width: 60px;
  padding-left: 12px;
}

.sinister div:first-of-type {
  padding-left: 5px;
}

.sinister div:last-of-type {
  padding-left: 3px;
}

.sinister div > p:first-child {
  margin-bottom: 0;
}

.sinister div > a > p {
  font-size: 10px;
  padding-left: 0;
  color: #606060;
  margin: 0 0;
}

.sinister div > a:hover > p {
  color: white;
}

.sinister .icons a {
  padding-left: 8px;
  font-size: 15px;
}

@media all and (max-width: 480px) {
  .sinister .icons a {
    padding-left: 6px;
    font-size: 13px;
  }

  .sinister img {
    padding-left: 8px;
    width: 48px;
  }

  .sinister div:first-of-type > p:first-of-type {
    font-size: 13px;
  }

  .sinister div:first-of-type > a > p {
    font-size: 10px;
  }
}

/* Media-player section */

.media-player {
  flex-basis: 450px;
}

.media-player div i {
  color: white;
}

.media-player div a {
  padding: 0 5px;
  font-size: 13px;
  vertical-align: middle;
}

.media-player div a:nth-child(3) {
  font-size: 30px;
  vertical-align: middle;
}

.media-player div a:nth-child(3) > i {
  width: 35px;
}

.media-player div a:nth-child(3):hover > i {
  font-size: 35px;
}

@media all and (max-width: 480px) {
  .media-player div a {
    padding: 0 2.5px;
    font-size: 13px;
  }

  .media-player div a:nth-child(3) {
    font-size: 25px;
  }

  .media-player div a:nth-child(3):hover > i {
    font-size: 30px;
  }
}

/* Progress bar section */

.wrapper-progress {
  display: flex;
  flex: 1 1 300px;
}

.minutes {
  margin: 0 15px;
  font-size: 10px;
  color: white;
}

.myprogress-bar {
  display: flex;
  align-items: center;
}

.myprogress-bar .progress {
  height: 4px;
  margin: 0;
  background-color: #606060;
  border-radius: 15px;
  width: 100%;
  position: relative;
  overflow: visible;
}

.myprogress-bar .progress > i {
  position: absolute;
  top: -5px;
  left: 28%;
  font-size: 14px;
  visibility: hidden;
}

.myprogress-bar .progress > .progress-bar {
  background-color: #9d9d9d;
  border-radius: 15px;
}

.wrapper-progress:hover .progress > .progress-bar {
  background-color: #aeff2e;
}

.wrapper-progress:hover .progress i {
  visibility: visible;
}

/* Volume section */

.volume {
  flex-basis: 200px;
  padding-right: 12px;
}

.myprogress-bar a {
  padding: 0 6px;
  color: white;
}

.myprogress-bar a:last-of-type {
  padding-right: 12px;
}

.volume .myprogress-bar .progress > i {
  color: white;
  left: 18%;
}

@media all and (max-width: 480px) {
  .myprogress-bar a {
    padding: 0 3px;
    font-size: 13px;
  }

  .volume {
    padding-right: 8px;
  }

  .myprogress-bar a:last-of-type {
    padding-right: 10px;
  }
}
/* Right section */

/* Upgrade section */

.library {
  width: calc(100vw - 200px);
  height: calc(100vh - 70px);
  overflow: auto;
  background-color: #141a23;
}

@media all and (max-width: 480px) {
  .library {
    width: calc(100vw - 50px);
  }
}

.upgrade {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #090b13;
  height: 71.97px;
}

.upgrade a {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  padding: 8px 18px;
  border-radius: 50px;
  margin-right: 10px;
  text-transform: uppercase;
  font-size: 11px;
}

.upgrade a:hover {
  font-size: 12px;
  text-decoration: none;
}

/* Charts / Library section */

.charts-library {
  display: flex;
  flex-direction: column;
  padding: 0 8px;
}

/* Charts section */

.charts {
  justify-self: flex-end;
}

.hr-green {
  padding: 0 25px;
  height: 1px;
}

.hr-green div {
  background-color: #aeff2e;
  height: 100%;
}

.charts ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  padding-top: 15px;
  padding-bottom: 35px;
}

.charts ul > li > a {
  color: #606060;
  text-transform: uppercase;
  font-size: 11px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 10px;
}

.charts ul > li > a:hover {
  text-decoration: none;
  color: white;
}

.charts ul > li {
  display: inline-block;
}

@media all and (max-width: 733px) {
  .charts ul > li {
    padding-top: 15px;
  }
}

/* Recent played section */

.space-in-row {
  flex-basis: calc(100% / 6);
}

@media all and (max-width: 1023px) {
  .space-in-row {
    flex-basis: calc(100% / 4);
  }
}

@media all and (max-width: 580px) {
  .space-in-row {
    flex-basis: calc(100% / 2);
  }

  .recenty-played div {
    margin-top: 10px;
  }

  .recenty-played div:first-of-type,
  .recenty-played div:nth-of-type(2) {
    margin-top: 0;
  }
}

.wrapper-cover {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.recenty-played h3 {
  color: white;
  margin-top: 0;
  margin-bottom: 15px;
  padding-left: 8px;
}

.recenty-played div {
  padding: 0 2.5px;
}

.wrapper-img {
  position: relative;
  text-align: center;
}

.wrapper-img i {
  margin: 0;
  font-size: 50px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  cursor: pointer;
}

.wrapper-img img {
  max-width: 200px;
  width: 100%;
  margin: auto;
}

.recenty-played div:hover > img {
  background-color: black;
  opacity: 30%;
  visibility: visible;
  cursor: pointer;
}

.recenty-played div:hover > i {
  visibility: visible;
}

.recenty-played div > h5 {
  color: white;
  margin: 5px 0;
  text-align: center;
}

.recenty-played div > p {
  color: #9d9d9d;
  margin: 0 0;
  font-size: 12px;
  text-align: center;
}

/* Created for section */

.created-for h3 {
  color: white;
  margin-top: 20px;
  margin-bottom: 0px;
  padding-left: 8px;
}

.created-for p {
  color: #606060;
  padding-left: 10px;
  font-size: 12px;
  padding-top: 3px;
  padding-bottom: 8px;
}

.created-for div {
  padding: 0 2.5px;
}

.created-for div > img {
  max-width: 200px;
  width: 100%;
}

.created-for div:hover > img {
  background-color: black;
  opacity: 30%;
  visibility: visible;
}

.created-for div:hover > i {
  visibility: visible;
}

.created-for div > h5 {
  color: white;
  margin: 5px 0;
  text-align: center;
}

/* Artists section */

.artists h3 {
  color: white;
  margin-top: 20px;
  margin-bottom: 0px;
  padding-left: 8px;
}

.artists p {
  color: #606060;
  padding-left: 8px;
  font-size: 12px;
  padding-top: 3px;
  padding-bottom: 10px;
}

.artists div {
  padding: 0 2.5px;
}

.artists div > img {
  max-width: 200px;
  width: 100%;
  border-radius: 50%;
}

.artists div:hover > img {
  background-color: black;
  opacity: 30%;
  visibility: visible;
}

.artists div:hover > i {
  visibility: visible;
}

.artists div > h5 {
  color: white;
  margin: 5px 0;
  text-align: center;
}
