html {
  font-family: Arial, Helvetica, sans-serif;
}

.text-white {
  color: white;
}

.text-grey {
  color: grey;
}

/* Aside section */

.mycontainer-aside {
  width: 200px;
  height: calc(100vh - 60px);
  background-color: black;
}

aside div ul li a,
aside div a {
  color: grey;
}

aside div ul li a:hover,
aside div a:hover {
  color: white;
  text-decoration: none;
}

aside div ul {
  list-style: none;
}

/* Logo section */

.logo img {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
}

/* Home, Cerca, Libreria section */

.home img {
  width: 10%;
  vertical-align: middle;
}

.home ul {
  padding: 0;
}

.home ul > li:last-child {
  padding-bottom: 10px;
}

.home ul > li:first-child {
  border-left: 2px solid #aeff2e;
}

.home ul > li:nth-child(2),
.home ul > li:nth-child(3) {
  padding-left: 12px;
}

.home ul > li {
  padding-left: 10px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}

.home ul > li > a {
  vertical-align: middle;
  text-decoration: none;
}

.home ul > li > a:hover {
  color: white;
  text-decoration: none;
}

/* Playlist section */

.playlist {
  padding-left: 12px;
}

.playlist h4 {
  font-size: 12px;
  color: white;
  text-transform: uppercase;
}

.playlist div {
  height: 30px;
  width: 30px;
  background-color: grey;
  color: black;
  text-align: center;
  line-height: 30px;
  display: inline-block;
}

.playlist a {
  padding-left: 5px;
}

/* Playlist list section */

.playlist-list {
  display: flex;
  flex-grow: 1;
}

.playlist-list ul {
  padding-left: 12px;
}

.playlist-list ul > li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.playlist-list ul > li:first-child {
  padding-top: 15px;
}
